/*header*/
.heading{
     text-align: center;
     font-size: xx-large;
}

.p{
    text-align: center;
    color: rgb(136, 134, 132);
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@import
url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400,600&display=swap);
/*Google Font*/
@import url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400,600&display=swap);
/*Button Style*/
.btn {
    text-decoration: none;
    padding: 14px 35px;
    border-radius: 40px;
    font-weight: 600;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0 44%);
    transition: 0.3s ease;
    display: inline-block;
    justify-content: center;
    width: auto;
    flex-direction: row;
}

/*ios button*/
.btn-ios {
    background-color: hsl(171, 66%, 44%);
}

/*Mac Button*/
.btn-mac {
    background-color: hsl(233, 100%, 69%);
}

/*Hover Effect*/
btn:hover {
    opacity: 0.8;
}
